* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif; /* Fuente para el cuerpo */
	color: #333;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow-x: hidden;
	display: flex;
	justify-content: center;
	position: relative;
}

@keyframes bgColorChange {
	0% { opacity: 1; }
	50% { opacity: 0.8; }
	100% { opacity: 1; }
}

header {
	box-shadow: 0px 8px 0px rgba(255, 255, 255, 1);
	width: 100%;
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	position: fixed;
	top: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
}

header .h1 {
	font-size: 2rem;
	color: #333;
	font-family: 'Montserrat', sans-serif; /* Fuente para encabezados */
}

nav a {
	color: #333;
	margin: 0 1rem;
	text-decoration: none;
	font-weight: bold;
	transition: .3s ease, transform .3s ease;
}

nav a:hover {
	color: #0077ff;
	font-size: 2em;
	transition: .1s ease, font-size .1s ease;
	margin: 1rem 1rem;
}

.content {
	padding: 1rem;
	max-width: 1000px;
	background: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: fadeIn 1s ease-in-out; /* Añadir animación */
	margin-left: 80px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-right: 350px;
}

/* Definición de la animación */
@keyframes fadeIn {
	from {
		opacity: 0; /* Comienza invisible */
		transform: translateY(20px); /* Desplazamiento hacia abajo */
	}
	to {
		opacity: 1; /* Termina visible */
		transform: translateY(0); /* Regresa a su posición original */
	}
}

.etiquetas {
	margin: 25px;
}

.etiquetas > h4 {
	display: inline;
	padding: 5px 20px;
	background-color: #94db94;
	text-align: left;
	border-radius: 3px;
	font-size: 0.8em;
}

.section {
	width: 100%;
	padding: 2rem 0;
}

.align {
	text-align: center;
}

.section h2 {
	font-size: 1.8rem;
	color: #0077ff;
	animation: h2AnimationsMiniJump 1s ease-in-out infinite;
}

@keyframes h2AnimationsMiniJump {
	0% { transform: translateY(-10px) }
	25% { transform: translateY(-20px); }
	100% { transform: translateY(-10px); }
}

.card {
	background-color: #fff; /* Color original para otras secciones */
	border-radius: 8px; 
	padding: .5rem; 
	margin: .5rem; 
}

.card h3 {
	color: #333; 
}

.card p {
	color: #555; 
	text-align: left;
	margin-top: 10px;
}

/* Estilo específico para la sección de contacto */
#contact {
	background-color: rgba(0, 0, 0, 0.05); /* Fondo con opacidad negra */
	padding: 2rem; 
	border-radius: .5rem; 
}

.social-links a {
	display: inline-block;
	color: #0077ff;
	margin: .5rem;
	padding: .5rem;
	background-color: #e9f1ff;
	border-radius: .5rem;
	text-decoration: none;
	transition: .3s ease, transform .3s ease; /* Transición de transformación */
}

.social-links a:hover {
	color: #fff;
	background-color: #0077ff;
	padding: .5rem 1rem;
	margin: .5rem 0;
}

.sidebar {
	width: 250px; 
	padding: .5rem; 
	background-color: #fff; 
	border-left: .5px solid #ddd; 
	position: absolute; 
	right: 0; 
	top: .5rem; 
	bottom: .5rem; 
	z-index: 5; 
	overflow-y: auto; 
	margin-top: 75px;
	height: 100%;
}

.card > img {
	width: 100%;
	margin: 0;
	padding: 0;
}

.h1 {
	font-weight: 800;
	transition: .1s;
	min-width: 300px;
	animation: rotate_level 1s ease-in-out infinite; /* */
}

.h1:hover {
	transform: scale(1.05);
	margin-left: 10px;
	transition: .1s;
	cursor: grab;
}

@keyframes rotate_level {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(1deg); }
	75% { transform: rotate(-1deg); }
	100% { transform: rotate(0deg); }
}

@keyframes specialBold {
	0% { text-shadow: 0px 1px 4px #000000; }
	50% { text-shadow: 0px 1px 3px #ff0000; }
	100% { text-shadow: 0px 1px 4px #000000; }
}

a:hover {
	font-weight: 900;
}

a {
	text-decoration: none;
	font-weight: 400;
}

.super-top {
	width: 100%;
	background-color: #84a5ff;
	position: fixed;
	top: 0;
	z-index: 99999; /* Cambiar el z-index para que esté por encima */
	display: flex;
	justify-content: center; /* Cambiar a center para centrar el contenido */
	align-items: center; /* Cambiar a center para centrar verticalmente */
	padding: 0; /* Añadir padding para separar del borde */
}

.super-top > a {
	color: #000000;
	font-size: 13px;
	text-decoration: none;
	font-weight: 900;
	text-align: center; /* Cambiar a center */
	margin: 0 10px; /* Ajustar márgenes */
	padding: 0 7px;
	transition: 0.5s;
}

.super-top > a:hover {
	cursor: pointer;
	background-color: #00000055;
	font-weight: 500;
	color: #ffffff;
	transition: 0.2s;
}

.game-info-container {
	background-color: #00000022;
	padding: 10px;
}

#game-one-mental-info {
	display: none;
}

.button-game {
	border: 0;
	padding: 10px;
	background-color: #8be0a1;
	color: #228635;
	margin-top: 30px;
	cursor: pointer;
	width: 100%;
	transition: 0.3s;
	display: block;
}

.close-button {
	position: absolute;
	border: 0;
	background-color: #8be0a1;
	color: #228635;
	cursor: pointer;
	padding: 10px 20px;
	top: -15px;
	left: -15px;
}

#popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000000aa;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(12px);
}

#popup-container {
	position: fixed;
	width: 70%;
	height: 70%;
	background-color: #000000dd;
	z-index: 9999;
	padding: 20px;
}

.popup-text {
	z-index: 99999;
	color: #ffffff;
}

.texto-grande {
	font-size: 26px;
}

.card a {
	animation: specialBold .5s ease-in-out infinite; /* */
}
